@use "../vars" as *;
@use "../mixins" as *;
@use "sass:color";
.burger {
  position: fixed;
  left: -100%;
  top: 100px;
  width: 100%;
  height: 100%;
  background-color: $white;
  transition: 0.3s ease-in-out;
  box-shadow: 5px 0px 50px 0 rgba(18, 17, 39, 0.08);
  z-index: 9;
  padding-top: 30px;
  &.open {
    left: 0%;
    transition: 0.3s ease-in-out;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
  }
  &__main {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  &__nav {
    flex: 1 1 auto;
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 48px;

      &-item {
        &-link {
          color: $gray;
          font-weight: 500;
          font-size: 14px;
          line-height: 171%;
          @include transition;
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              color: $darkGray;
              @include transition;
            }
          }
          &:active {
            color: $black;
            @include transition;
          }
        }
      }
    }
  }
  &__auth-buttons {
    margin-top: 12px;
    border-top: 2px solid $black;
    padding-top: 12px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: normal;
  }
  &__sign-in {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    padding: 8px 24px;
    color: $black;
  }
  &__sign-up {
    line-height: 171%;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 24px;
    color: $white;
  }
}
