@use "sass:color";
@use "../vars" as *;
@use "../mixins" as *;
.index-page.popup-form {
  max-width: 950px;
  border-radius: 24px;
  background-color: $white;
  width: 100%;
  max-height: 657px;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  opacity: 0;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: visibility 0s 0.4s, opacity 0.3s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.3s ease-in-out 0.1ms;
  }
  .popup-form {
    &__close {
      position: absolute;
      top: 18px;
      right: 23px;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d9d9d9;
      border-radius: 100%;
      @include transition;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: color.adjust(#d9d9d9, $lightness: -10%);
          @include transition;
        }
      }
      &:active {
        background-color: color.adjust(#d9d9d9, $lightness: -15%);
        @include transition;
      }
    }
    &__main {
      flex: 1 1 50%;
      padding-inline: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      &-content {
        max-width: 318px;
        justify-content: center;

        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
    &__title {
      font-weight: 600;
      font-size: 40px;
      line-height: 120%;
    }
    &__description {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: #000;
    }
    &__info {
      margin-top: 31px;
      display: flex;
      flex-direction: column;
      gap: 13px;
    }
    &__field {
      position: relative;
      width: 100%;
      margin-top: 39px;
    }
    &__error-message {
      color: rgb(252, 0, 0);
      font-size: 12px;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
    &__input {
      &-mail {
        height: 50px;
        border: 1px solid #d9d9d9;
        border-radius: 10px;
        width: 100%;
        padding: 13px 20px;
        color: #898989;

        &::placeholder {
          font-size: 20px;
          line-height: 120%;
          color: #898989;
        }
      }
    }
    &__media {
      flex: 1 1 50%;
      display: flex;

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
      }
    }
    &__submit-btn {
      width: 100%;
      padding-block: 13px;
      background-color: #000;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      border-radius: 10px;
      margin-top: 31px;
    }
    &__agreement {
      font-size: 15px;
      line-height: 120%;
      margin-top: 24px;
      color: #8d8d8d;
      text-align: start;
    }
  }
  @media screen and (max-width: 768) {
    flex-direction: column-reverse;
    max-height: unset;
    height: 100vh;
    .popup-form{
        &__media{
            height: 40%;
            flex: 1 1 auto;
            &-img{
                height: auto;
            }
        }
        &__main{
            flex: 1 1 auto;
            height: 60%;
        }
    }
  }
}
