.boost-productivity {
    padding-block: 96px;
  background-color: $indigo;
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    // padding: 96px 192px;
    max-width: 774px;
  }
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 140%;
    text-align: center;
    color: $white;
  }
  &__description{
font-size: 20px;
line-height: 180%;
text-align: center;
color: rgba(255, 255, 255, 0.56);
  }
  &__sign-up{
    padding: 14px 32px;
  }
  @media screen and (max-width: 768px) {
    padding-block: 48px;
    &__title {
    font-size: 32px;
    color: $white;
  }
  &__description{
font-size: 16px;
  }
  }
}
