@use "../mixins" as *;
@use "../vars" as *;
@use "sass:color";
.hero {
  padding-top: 86px;
  padding-bottom: 163px;
  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  &__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    text-align: center;
    color: $black;
    padding-inline: 10px;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 180%;
    color: $darkGray;
  }
  &__content {
    padding-inline: 96px;
  }
  &__video-player {
    height: 100%;
    &-play-button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      width: 72px;
      height: 72px;
      border-radius: 100px;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s ease-in-out 0.1ms, visibility 0s;
      @include transition;
      &-img {
        flex-direction: 0 0 auto;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: color.adjust($white, $lightness: -10%);
          @include transition;
        }
      }
      &:active {
        background-color: color.adjust($white, $lightness: -20%);
        @include transition;
      }
    }
    &-spoiler {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      z-index: 4;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s ease-in-out 0.1ms, visibility 0s;

      object-fit: cover;
    }
    &-video {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      z-index: 3;
    }
    &.active {
      .hero__video-player {
        &-play-button {
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
        }
        &-spoiler {
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
        }
        &-video {
          z-index: 5;
        }
      }
    }
  }
  &__main {
    margin-top: 72px;
    padding-inline: 96px;
    position: relative;
    &-wrapper {
      position: relative;
      aspect-ratio: 744 / 418;
      box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.2);
      border-radius: 16px;
    }

    &-spacing-img {
      position: absolute;
    }
    &-notification {
      &-success {
        z-index: 4;
        border-radius: 12px;
        top: 64%;
        right: -24.5%;
        width: 34%;
        max-width: 250px;
        box-shadow: 0 40px 80px -16px rgba(0, 0, 0, 0.08);
      }
      &-voucher {
        box-shadow: 0 40px 80px -16px rgba(0, 0, 0, 0.08);
        top: -12.5%;
        left: -19.25%;
        width: 25%;
        max-width: 173px;
      }
    }
  }
  &__floating-img {
    position: absolute;
    &--sectors {
      top: -57.5%;
      left: -11vw;
    }
    &--emoji {
      top: -40%;
      right: -2.5%;
    }
    &--arrow {
      bottom: -25%;
      left: -10%;
      max-height: 170px;
      height: 50%;
      transform: rotate(2deg);
    }
  }
  @media screen and (max-width: 1023) {
    padding-top: 40px;
    padding-bottom: 100px;
    &__content {
      padding-inline: 30px;
    }
    &__floating-img {
      &--arrow {
        left: -8%;
      }
      &--sectors {
        left: -0%;
      }
    }
    &__main {
      &-notification {
        &-success {
          top: 80%;
          right: -15%;
        }
      }
    }
  }
  @media screen and (max-width: 768) {
    padding-top: 40px;
    padding-bottom: 100px;
    &__content {
      padding-inline: 30px;
    }
    &__title {
      font-size: 36px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__main {
      padding-inline: 0px;
      &-notification {
        &-success {
          right: 0;
          top: 90%;
        }
        &-voucher {
          top: -18%;
          left: -3%;
        }
      }
    }
    &__floating-img {
      &--arrow {
        left: 10%;
        bottom: -50%;
        transform: rotate(83deg) scale(-1, 1);
      }
      &--sectors {
        // display: none;
        width: 50px;
        top: -50px;
        right: 0;
        left: auto;
      }
      &--emoji {
        // display: none;
        top: -50px;
        right: 50px;
      }
    }
    &__video-player {
      &-play-button {
        width: 10vw;
        height: 10vw;
        &-img {
          width: 50%;
          height: 50%;
        }
      }
    }
  }
}
