@use "./reset";
@use "./vars" as *;
@use "sass:color";
@use "./mixins" as *;
@import "./fonts/fonts";     
@import './components/index.scss'; 
@import './sections/index.scss';
         
*{
    font-family: $Poppins, sans-serif;

}

body{
    font-size: 16px;
    &:has(.popup-form.active){
        overflow: hidden;
    }

    &:has(.burger.open){
        overflow: hidden;
    }
    color: $black;
}

.container{
    max-width: calc(1128px + 40px);
    padding-inline: 20px;
    margin-inline: auto;
}

.background-filter{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    background-color: color.adjust($color: $white, $alpha: -0.6);
    transition: visibility 0s 0.4s, opacity 0.3s ease-in-out;
    &.active{
        opacity: 1;
        visibility: visible;
    transition: visibility 0s, opacity 0.3s ease-in-out 0.1ms;

    }
}