@mixin transition(
  $property: all,
  $duration: .3s,
  $function: ease,
  $delay: null
) {
  transition-duration: $duration;
  transition-property: $property;
  transition-timing-function: $function;

  @if $delay {
    transition-delay: $delay;
  }
}